node_modules
.idea
.vscode
.webstorm

dev_help
index.js
index.js.map
public/dist
public/node_modules
!public/vue.config.js
public/**/*.js
public/**/*.js.map
public/public/config.json
tsconfig.json

server/**/*.js
server/**/*.js.map

shared/**/*.js
shared/**/*.js.map

## Compiled JavaScript files

server/node_modules/
server/.runtimeconfig.json

uploads

*.css

firebase-debug.log

.firebase

## To allow "experimentalDecorators": true in root directory (issue with Vetur https://github.com/vuejs/vetur/issues/424)
tsconfig.json
