$main-color: #002C6C;
$accent-color: #FC4544;
$text-color: white;
$background-color: white;
$background-color-dark: #7E8B7C;

$disabled-color:#e9ecef;

$text-size-title: 1.5rem;

$radius: 0.4rem;
$thickness: 0rem;
$divider-thickness: 0.05rem;
$scale: 60;

$width: 0.75rem * $scale;
$height: 1rem * $scale;

$sleeping-bot-size: 6rem;

$box-shadow: 0.05rem 0.1rem 0.5rem 0.125rem $background-color-dark;

$chatbot-margin: 2rem;
$chat-bubble-arrow-size: 0.4rem;

$user-bubble-background-color:#002C6C;
$user-bubble-text-color: $text-color;
$user-bubble-border-color: $user-bubble-background-color;

$bot-bubble-background-color: #F4F4F4;
$bot-bubble-text-color: $main-color;//#212529;
$bot-bubble-border-color: #F4F4F4;

$input-field-background : #B3C0D3;


@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins/';

